<div>
<table>
<tbody>
<tr>
<td>
<h1>&nbsp;About</h1>
<span style="color: #666666;"><strong>Experienced Architect, Infra Engineer and Consultant in different industries. Key skills include : Cloud(AWS GCP), Container Orchestration(k8s&nbsp; ECS) and CI/CD(Jenkins). As a consultant, I had experience with business requirements analysis, system operating design, migration planning.</strong></span>
<h1>Work Experience</h1>
<h2>👕 Apparel Manufacturer and Retailer Company- Store planning system &mdash; Architect</h2>
<h3>&nbsp;January 2020 ～ Present</h3>
<ul>
<li><span style="color: #434343;">Architected store planning system on AWS.&nbsp;</span></li>
<li><span style="color: #434343;">Designed and planned global expansion.</span></li>
<li><span style="color: #434343;">Designed and developed&nbsp; microservice infrastructure using ECS.</span></li>
<li><span style="color: #434343;">Had the experience of business requirements analysis, system operational design and migration planning.</span></li>
<li><span style="color: #434343;">Implemented and managed CI/CD pipeline and methodologies with Terraform and Jenkins.</span></li>
</ul>
<h3>[Keywords]</h3>
<ul>
<li><span style="color: #999999;">AWS (ECS &nbsp; Aurora&nbsp; &nbsp; ElasticCache)</span></li>
<li><span style="color: #999999;">Terraform &nbsp; Docker &nbsp; Docker Compose</span></li>
<li><span style="color: #999999;">Go lang&nbsp; &nbsp; PostgreSQL &nbsp; Redis&nbsp; &nbsp; Node.js &nbsp; React</span></li>
<li><span style="color: #999999;">Fluentd &nbsp; Prometheus&nbsp; Grafana</span></li>
</ul>
<h2>⛅ Apparel Manufacturer and Retailer Company- GCP consulting &mdash; Project manager</h2>
<h3>December 2019 ～ Present</h3>
<ul>
<li><span style="color: #434343;">Designed GCP security policy for multiple projects.</span></li>
<li><span style="color: #434343;">Designed and developed GCP network and GKE.</span></li>
<li><span style="color: #434343;">Had the experience of team management of 5 people.</span></li>
<li><span style="color: #434343;">Had the experience in proposal activities and contract management.</span></li>
</ul>
<h3>[Keywords]</h3>
<ul>
<li><span style="color: #999999;">GCP (Network(Shared VPC)&nbsp; GKE&nbsp; Security Command Center)</span></li>
</ul>
<h2>🔋 Energy Company - IoT system &mdash; Infrastructure Leader</h2>
<h3>December 2019 ～ January 2020</h3>
<ul>
<li><span style="color: #434343;">Architected infrastructure for IoT system on AWS</span></li>
<li><span style="color: #434343;">Designed mobile device management</span></li>
</ul>
<h3>[Keywords]</h3>
<ul>
<li><span style="color: #999999;">AWS (ECS &nbsp; Fargate &nbsp; Kinesis)</span></li>
<li><span style="color: #999999;">Terraform &nbsp; Docker&nbsp;</span></li>
</ul>
<h2>🛒 Apparel Manufacturer and Retailer Company- Inventory management system &mdash; Architect</h2>
<h3>July 2018 ～ December 2019</h3>
<ul>
<li><span style="color: #434343;">Architected infrastructure for high-transaction system on AWS using database-sharding (Aurora) and a message queue (Kafka)</span></li>
<li><span style="color: #434343;">Designed and developed&nbsp; microservice infrastructure using ECS.</span></li>
<li><span style="color: #434343;">Had the experience of business requirements analysis, system operational design and migration planning.</span></li>
<li><span style="color: #434343;">Good communication, interpersonal and presentation skills in English.</span></li>
<li><span style="color: #434343;">Implemented and managed CI/CD pipeline and methodologies on AWS(ECS)</span></li>
</ul>
<h3>[Keywords]</h3>
<ul>
<li><span style="color: #999999;">AWS (ECS &nbsp; Aurora &nbsp; MSK &nbsp; ElasticCache &nbsp; DynamoDB)</span></li>
<li><span style="color: #999999;">Terraform &nbsp; Docker &nbsp; Docker Compose</span></li>
<li><span style="color: #999999;">Spring Boot &nbsp; Kafka&nbsp; PostgreSQL &nbsp; Redis&nbsp; &nbsp; Node.js &nbsp; React</span></li>
<li><span style="color: #999999;">Jenkins</span></li>
</ul>
<h2>🖥 Apparel Manufacturer and Retailer Company- Work-style reform system &mdash; Infrastructure Leader</h2>
<h3>February 2018 ～ July 2018</h3>
<ul>
<li><span style="color: #434343;">Led team for transforming from custom AWS EC2 architecture to Kubernetes on GCP.</span></li>
<li><span style="color: #434343;">Designed and developed multiple GKE clusters located in different regions with Cloud Load Balancer.</span></li>
<li><span style="color: #434343;">Designed and developed a log analytics system using Stackdriver, BigQuery and Data Studio.</span></li>
<li><span style="color: #434343;">Implemented and managed CI/CD pipeline and methodologies on GCP (GKE)</span></li>
</ul>
<h3>[Keywords]</h3>
<ul>
<li><span style="color: #999999;">GCP (GKE &nbsp; </span><span style="color: #999999;">Load Balancing</span><span style="color: #999999;"> &nbsp; Pub/Sub &nbsp; Cloud SQL &nbsp; Datastore&nbsp; &nbsp; Cloud Functions GCS &nbsp; Shared VPC &nbsp; Cloud Build &nbsp; Stackdriver &nbsp; BigQuery &nbsp; Data Studio)</span></li>
<li><span style="color: #999999;">Terraform &nbsp; Docker &nbsp; Docker Compose</span></li>
<li><span style="color: #999999;">Golang&nbsp; &nbsp; Node.js &nbsp; MongoDB &nbsp; Elasticsearch &nbsp; PostgreSQL</span></li>
<li><span style="color: #999999;">Jenkins</span></li>
</ul>
<h2>🏢 Trading Company - System renewal &mdash; Infrastructure Engineer</h2>
<h3>May 2017 ～ February 2018</h3>
<ul>
<li><span style="color: #434343;">Introduced Ansible to the team for managing infrastructure with new policies and procedures (a shift towards DevOps culture).</span></li>
<li><span style="color: #434343;">Designed and configured network infrastructure.</span></li>
</ul>
<h3>[Keywords]</h3>
<ul>
<li><span style="color: #999999;">Ansible &nbsp; Jenkins</span></li>
<li><span style="color: #999999;">Fortigate &nbsp; F5 &nbsp; Catalyst</span><span style="color: #999999;">&nbsp; &nbsp; Wireshark</span></li>
<li><span style="color: #999999;">Zabbix</span></li>
</ul>
<h2>⛅ Retail (Convenience stores) - Cloud development environment &mdash; Infrastructure Member</h2>
<h3>March 2016 ～ May 2017</h3>
<ul>
<li><span style="color: #434343;">Defined the policies and procedures for managing AWS environment used by multiple vendors</span></li>
<li><span style="color: #434343;">Managed&nbsp; Redmine, GitLab, Subversion and Jenkins.</span></li>
</ul>
<h3>[Keywords]</h3>
<ul>
<li><span style="color: #999999;">AWS</span></li>
<li><span style="color: #999999;">CloudFormation</span></li>
<li><span style="color: #999999;">Redmine &nbsp; GitLab &nbsp; Subversion &nbsp; Jenkins</span></li>
</ul>
<h2>🐘 Retail (Convenience stores) - Data warehouse &mdash; Infrastructure Member</h2>
<h3>December 2015 ～ March 2016</h3>
<ul>
<li><span style="color: #434343;">Planned and performed performance tuning (Hadoop and&nbsp; MySQL)</span></li>
</ul>
<h3>[Keywords]</h3>
<ul>
<li><span style="color: #999999;">AWS&nbsp; (EMR)</span></li>
<li><span style="color: #999999;">Hadoop</span></li>
</ul>
<h2>🏪 Retail (Convenience stores) - Point management solution&mdash; Infrastructure Member</h2>
<h3>July 2015 ～ December 2015</h3>
<ul>
<li><span style="color: #434343;">Planned and performed performance tuning (Tomcat and MySQL).</span></li>
<li><span style="color: #434343;">Designed and developed Java application features and improvements.</span></li>
</ul>
<h3>[Keywords]</h3>
<ul>
<li><span style="color: #999999;">AWS</span></li>
<li><span style="color: #999999;">Tomcat&nbsp; &nbsp; MySQL &nbsp; Java</span></li>
</ul>
<h2>Other Activities</h2>
<ul>
<li><span style="color: #434343;">Provided Cloud Native technologies training to employees.</span></li>
<li><span style="color: #434343;">Provided Networking(L2-L4) training to employees.</span></li>
<li><span style="color: #434343;">Implemented and managed Honeypot for security analysis.</span></li>
</ul>
<h3>[Keywords]</h3>
<ul>
<li><span style="color: #999999;">Kubernetes &nbsp; Docker &nbsp; GCP &nbsp; AWS</span></li>
<li><span style="color: #999999;">TCP/IP&nbsp;&nbsp;&nbsp;</span></li>
<li><span style="color: #999999;">Honeypot</span></li>
</ul>
</td>
</tr>
</tbody>
</table>
</div>
